<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Словник{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="site-header">
        <div class="nav-container">
            <div class="logo">
                <a href="{% url 'index' %}">📘 Словник</a>
            </div>

            <nav class="nav-links">
                <a href="{% url 'index' %}">Главная</a>
                <a href="{% url 'article_list' %}">Слова</a>
                <a href="{% url 'add_article' %}">Добавить</a>
                <a href="{% url 'quiz' %}">Тест</a>
            </nav>
        </div>
    </header>

    <main class="page-wrapper">

        {% if messages %}
            <div class="messages-wrapper">
                {% for message in messages %}
                    <div class="message-box {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <p>Учебный проект на Django • Vocabulary Trainer</p>
    </footer>

</body>
</html>
